.active {
    background-color: #EF3F4A;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EF3F4A;
    color: #F3E4D4;
    width: 300%;
    height: 100px;
    margin: 0 auto;
    padding-left: 2rem;
}

nav .title {
    font-size: 1.5rem;
    margin: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: #F3E4D4;;

}

nav ul {
    display: flex;

}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: block;
    text-decoration: none;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
}